@color:#4f99db;
@colorRGBA:rgba(20,204,204,0.8);

@white:#FFFFFF;
@whiteHigh:#F5F5F5;

@dark:#080808;
@darkHigh:#121212;
@darkLow:#232323;


@colorb:#ff9525;
@colordblu:#243547;
@litegray:#f3f5f8;
@coolgray:#c6d0df;

@headerbg:rgba(36,56,71,0.4);

@mission-bg1:rgba(36,56,71,0.7);
@mission-bg2:rgba(255,149,37,0.7);

.white{
	color:@white;
}
.dark{
	color:@dark;
}
.grey{
	color:@whiteHigh ;
}
.color{
	color:@color;
}
.white-high{
	color:@whiteHigh;
}
.dark-high{
	color:@darkHigh;
}
.dark-low{
	color:@darkLow;
}

.litegray{
    color: @litegray;
}

.coolgray-bg{
    background:@coolgray;
}

.white-bg{
	background:@white;
}
.dark-bg{
	background:@dark;
}
.grey-bg{
	background:@litegray;
}
.color-bg{
	background:@colorb;
}
.white-high-bg{
	background:@whiteHigh;
}
.dark-high-bg{
	background:@darkHigh;
}
.dark-low-bg{
	background:@colordblu;
}

.btn-presence-color{
	border:solid 1px @color;
	color: @color;
}
.btn-presence-color:hover{
	border:solid 1px  @color;
	background:  @color;
}

.scroll-down-pane-color{
	background:@color !important;
}
.scroll-down-pane-white{
	background:@whiteHigh !important;;
}
.showcase-area-inner.dark h5>span{
	color: @color;
}

.showcase-area-inner.dark h1{
	color: @dark;
}
.showcase-area-inner.dark h6 > span{
	color: @white;
	border:solid 1px @color;
	background:@color;
}


.showcase-area-inner.white h5>span{
	color: @color;
}

.showcase-area-inner.white h1{
	color: @white;
}
.showcase-area-inner.white h6 > span{
	color: @white;
	border:solid 1px @color;
	background:@color;
}


.showcase-area-inner.color h5>span{
	color: @dark;
}

.showcase-area-inner.color h1{
	color: @color;
}
.showcase-area-inner.color h6 > span{
	color: @white;
	border:solid 1px @color;
	background:@color;
}


.intro h5 > span{
	border-bottom:solid 1px @color;
	color: @color;
}
.intro-button > a{
	color:@color;
	border:solid 1px @color;
}
.intro-button > a:hover{
	color:@dark;
	border:solid 1px @color;
	background:@color;
}
.intro h2 > span{
	color:@white;
	background:@color;
}

.intro-mask-color{
	background:@colorRGBA;
}

.scroll-down-pane{
	background:@color;
}


.call-to-action{
	color:@white;
}

.mastfoot{
	background:@colordblu;
}

.about{
	background:@whiteHigh;
}

.testimonials{
	background:@whiteHigh;
}

.testimonial-brand > span{
	background:@color;
	color:@white;
}

.user-thumb > img{
	background:@color;
}
.services{
	background:@white;
}

.overlay ul li a:hover,
.overlay ul li a:focus {
	color: @color;
}

.promotional-area h1 > span{
	color: @color;
}

.emblem-area{
	background:none;
    
}
.shoutout-area > h6 > span{

}
.shoutout-area > p{
    color: @color;
}
.intro-trigger-button{
	border: solid 2px @color;
color: @color;
}
.intro-trigger-button:hover{
	border: solid 2px @color;
	background: @color;
}
#trigger-overlay{
	background-color: @color;
}
.view-ninth .mask-1, .view-ninth .mask-2 {
    background: @color;
    }
.view-ninth:hover .content {
    background: @color;
}
ul#portfolioFilter li {
	color:@white;
}

ul#portfolioFilter li:after{
	color:@dark;
}

ul#portfolioFilter li:hover {
	color:@dark;
}
ul#portfolioFilter li.active-filter{
	color:@dark !important;
}

.project-info-tag{
	background:@whiteHigh;
}
.project-area-inner{
	background:@color;
}
.project-area-inner h5>span{
	color: @white;
}

.project-area-inner h1{
	color: @white;
}
.project-area-inner h5 > span{
	color: @dark;
}
.project-area-inner h6 > span{
	color: @white;
	border:solid 1px @dark;
	background:@dark;
}
.project-area-inner h5 > span > strong{
	color: @white;
}

.top-frame{
	border-top:solid 10px @color;
}
#item_slider .flex-direction-nav li a{
	background:@color;
}
#item_slider .flex-direction-nav li a:hover{
	background:@dark;
}

#control_buttons a:hover {
	border:solid 2px @color;
	background:@color;
	color: @white;
}


.contact{
}

.email-thumb > img, .newsletter-thumb > img, .twitter-thumb > img{
	background:@dark;
}

.stats-des > span.color-border{
	border: solid 1px @color !important;
}
.nav li > a{
  	background: transparent !important
}
.nav.dark li > a{
	color:@dark;
}
.nav.white li > a{
	color:@white;
}

.header-bg{
    background: @headerbg;
}

.standard-header .navbar .nav > li > a:hover,
.standard-header .navbar .nav > li > a.active {
  	color:  @white;
	background:@color !important;
}
.standard-header .navbar .nav > li.active > a:hover,
.standard-header .navbar .nav > li.active > a.active {
 	 color:  @color;
}

.pace .pace-progress {
  background-color: @color;
  }
  
  .featured-roller {
  background: @color;
  }


.missionbg1{
    background: @mission-bg1;
}

.missionbg2{
    background: @mission-bg2;
}