
/*INTRO*/
.intro{
}
.intro-slide-inner{
	text-align: center;
	padding: 100px 200px;
}
.intro-logo{
	padding: 30px;
	background: rgba(0,0,0,0.9);
	color: #000;
	text-align: center;
}
.intro-text{
	padding: 30px;
	color: #fff;
}
.intro-btn-wrap{
	margin-top: 20px;
}
.intro-mask-white{
	height: 100%;
	background: rgba(255,255,255,0.4);
}
.intro-mask-dark{
	height: 100%;
	background: rgba(0,0,0,0.6);
}
.intro-mask-color{
	height: 100%;
}

.intro.promotional-area{
	text-align: center;
	height: 100%;
	padding: 50px 0;
}
.promotional-area{
	text-align: left;
	height: 100%;
	padding: 0px 0;
}
.promotional-area-inner{
	background: rgba(255,255,255,0.3);
	max-width: 300px;
	padding: 40px;
	height: 100%;
	position: absolute;
	z-index: 2;
}
.promotional-area-inner-left{
	left: 0px !Important;
}
.promotional-area-inner-right{
	right: 0px !Important;
}

.promotional-area h5{
	font-size: 24px;
	line-height: 31px;
	margin-bottom: 0;
	font-family:"OpenSansLight";
	font-weight: normal;

}
.promotional-area h1{
	margin-bottom: 20px;
}
.promotional-area h1 > span{
	font-size: 46px;
	line-height: 53px;
	font-family:"OpenSansLight";
	font-weight: normal;
	padding-bottom: 0px;
	border-bottom: solid 1px #000;
}
.promotional-area h3{
	font-size: 38px;
	line-height: 45px;
font-family:"MontserratRegular";
text-transform: uppercase;
letter-spacing: 1px;
margin-top:20px;
margin-bottom: 30px;
font-weight: normal;
}

.emblem-area-wrap{
	text-align: center;
	display: inline-block;
}
.emblem-area{
	padding: 20px;
	width: 250px;
	height: 290px;
	border-radius: 5px;    
}
.emblem-area h3{
	margin-top: 5px;
	font-size: 24px;
	line-height: 31px;
font-family:"OpenSans";
text-transform: uppercase;
letter-spacing: 1px;
font-weight: normal;
margin-bottom: 10px;
}
.emblem-area h6{
	margin-bottom: 5px;
}
.emblem-area h6 > span{
	padding-top: 5px;
	border-top: solid 1px #ff9525;
    
}

.emblem-area a{
    color: #2f2f2f;
    font-size: 1rem;
}

.emblem-area > .emblem{
	width: 204px;
	height: 102px;
}

.shoutout-area{
	text-align: left;
	padding: 0 200px;
}

.shoutout-area > h1{
	font-weight: normal;
font-family:"MontserratRegular";
margin-bottom: 20px;
	font-size: 48px;
	line-height: 55px;
}
.shoutout-area > h6{
	margin-bottom: 5px;
}
.shoutout-area > h6 > span{
	padding-top: 5px;
	font-size: 24px;
	line-height: 31px;
font-family:"OpenSansLight";
}

.shoutout-area > p{
font-family:"OpenSansRegular";
}
.intro-trigger-button{
	border-radius: 3px;
	margin-bottom: 10px;
	padding: 15px;
	font-size: 16px;
	line-height: 23px;
font-family:"RalewayLight";
text-transform: uppercase;
letter-spacing: 1px;
font-weight: normal;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.intro-trigger-button:hover{
	color: #fff;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}


/*SET THE BG IMAGES IN INTRO SLIDES VIA CSS*/

.intro-slide-bg-one{
	background-size: cover !important;
	background:url('../images/bg/01.jpg') center top no-repeat;
}

.intro-slide-bg-two{
	background-size: cover !important;
	background:url('../images/bg/02.jpg') center top no-repeat;
}

.intro-slide-bg-three{
	background-size: cover !important;
	background:url('../images/bg/03.jpg') center top no-repeat;
}

.intro-slide-bg-four{
	background-size: cover !important;
	background:url('../images/bg/04.jpg') center top no-repeat;
}



.poster_img{
    background-size: cover !important;
    background: #333 !important;
}

