/*MAIN.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: PRESENCE.*/
/* Version: 1.1 Updated Release*/
/* Build Date: 10 Jun 2014*/
/* Author: Designova.*/
/* Website: http://www.designova.net */
/* Copyright: (C) 2014 */
/*-------------------------------------------------------------------------------------------------------------------------------*/


/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/
/* 01 - LAYOUT INITIALIZATION & COLOR PRESETS */
/* 02 - HEADER, INTRO & NAVIGATION */
/* 03 - COMMON ELEMENTS & TYPOGRAPHY */
/* 04 - PAGES & SECTIONS SETUP*/
/* 05 - FOOTER*/


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - LAYOUT INITIALIZATION & COLOR PRESETS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
html{
}
body{
	font-family:"OpenSansRegular";
	overflow-x:hidden; 
}
#okplayer{
	width: 125% !important;
}
.fullscreen-video-bg #okplayer{
	width: 125% !important;
}
a, a:hover, a:focus{
	text-decoration: none;
}
a:focus { 
    	outline: none; 
}
.presence-ease{
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.presence-ease:hover{
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.text-center > .img-responsive{
	display: block;
	display: inline-block;
}
p{
	color: #777;
	font-family:"OpenSansRegular";
	font-size: 14px;
	line-height:21px;
}
h1,h2,h3,h4,h5,h6{
	margin-top: 0;
	font-weight: normal;
}

@media (min-width: 1024px) and (max-width: 5000px) {
	.container, .service-details{
		max-width: 960px;
	}
}
.mast-wrap, .slide{
	padding-right: 50px;
}
.mob-only-menu-btn{
	position: fixed;
	top: 0;
	background: transparent;
	text-align: right;
	width: 100%;
	z-index: 90;
}
.video-poster-image{
	background:url('../images/poster.jpg') center center no-repeat !important;
	background-size: cover;
}

/*Common Spacing and Padding*/

.page-section{
	padding: 100px 0;
	overflow: hidden;
}
.separator-section{
	padding: 100px 0;
	overflow: hidden;
}
.inner-section{
	overflow: hidden;
}
.add-top{
	margin-top: 140px;
}
.add-bottom{
	margin-bottom: 140px;
}
.add-top-half{
	margin-top: 70px;
}
.add-bottom-half{
	margin-bottom: 70px;
}
.pad-top{
	padding-top: 40px;
}
.pad-bottom{
	padding-bottom: 40px;
}
.pad{
	padding-left: 20px;
	padding-right: 20px;
}

.mob-center > .img-responsive{
	display: inline-block;
}
.no-gutter{
	margin-left: -15px !important;
}
.valign{
	position:relative;
	top:50%;
	transform:translateY(-50%);
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - HEADER, INTRO & NAVIGATION */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.static-side-navigation-wrap{
	height: 100%;
	position: fixed;
	z-index: 1;
	right: 0;
	top: 0;
	text-align: center;

    -moz-box-shadow: -2px 0px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow: -2px 0px 2px rgba(0,0,0,0.2);
    box-shadow: -2px 0px 2px rgba(0,0,0,0.2);


}
/*Vertical Logo*/
.vertical-logo{
	width: 100%;
	bottom: 0;
	position: absolute;
	text-align: center;
}
.vertical-logo.stick-on-top{
	top: 55px !important;
}
.masthead{
	min-height: 50px;
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #121212;
	z-index: 9;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.fluidhead{
	padding-left: 50px;
	padding-right: 50px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 03 - COMMON ELEMENTS & TYPOGRAPHY */
/*-------------------------------------------------------------------------------------------------------------------------------*/

.page-section{

}
.main-heading{
	font-size: 42px;
	line-height: 49px;
    letter-spacing: 3px;
    margin-bottom: 15px;
	text-transform: uppercase;
	font-family:"OpenSansRegular";
	margin-bottom: 0;
}
.liner{
	text-align: center;
}
.liner > span{
	display: inline-block;
	width: 100px;
	height: 6px;
}
.liner-small-left{
	text-align: left;
	margin-bottom:10px;
}
.liner-small-left > span{
	display: inline-block;
	width: 50px;
	height:3px;
}
.liner-small-center{
	text-align: center;
	margin-bottom:10px;
}
.liner-small-center > span{
	display: inline-block;
	width: 50px;
	height: 3px;
}
.promo-text-main{
    margin: 0 auto;
    margin-top: 20px;
	 color: #999999;
font-family:"OpenSansRegular";
    font-size: 14px;
    line-height: 36px;
    width: 640px;
}
.promo-text{
	margin-top: 30px;
	padding:0px 100px;
font-family:"OpenSansLight";
font-size: 16px;
line-height: 23px;
}
.page-head{
	padding: 75px 0;
	font-size: 14px;
	line-height: 21px;
}

/*Buttons*/
.btn-presence{
	border-radius: 5px;
	text-decoration: none;
	padding: 15px 20px;
	font-size: 12px;
	line-height: 19px;
	text-transform: uppercase;
	font-family:"OpenSansRegular";
	letter-spacing: 1px;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.btn-presence-big{
	border-radius: 5px;
	text-decoration: none;
	padding: 15px 20px;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	font-family:"OpenSansRegular";
	letter-spacing: 1px;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.btn-presence:hover{
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.btn-presence-white{
	border:solid 1px #fff;
	background: transparent;
	color: #fff;
}
.btn-presence-white:hover{
	border:solid 1px #fff;
	background: #fff;
	color: #000;
}

.btn-presence-dark{
	border:solid 2px #000;
	background: transparent;
	color: #000;
}
.btn-presence-dark:hover{
	border:solid 2px #000;
	background: #000;
	color: #fff;
}

.btn-presence-color{
	background: transparent;
}
.btn-presence-color:hover{
	color: #fff;
}
.proceed-btn-wrap{
	margin-top: 15px;
	padding-top: 15px;
	border-top: solid 1px #000; 
}

.line-top-button{
	margin-top: 15px;
	padding-top: 15px;
	border-top: solid 1px #000; 
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 04 - PAGES & SECTIONS SETUP */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*SHOWCASE SLIDES*/

.intro.showcase-area{
	text-align: center;
	height: 75%;
	background:url('../images/slants/slant1.png') center top no-repeat;
	background-size: cover;
	padding: 50px 0;
}
.showcase-area{
	text-align: left;
	padding: 0;
}
.showcase-area-inner{
	max-width: 300px;
	padding: 40px;
	height: 100%;
	position: absolute;
	left: 0px;
	z-index: 2;
	background:rgba(0,0,0,0.7);
}

.showcase-area-inner h5>span{
	font-size: 96px;
	line-height: 103px;
font-family:"OpenSansLight";
font-weight: normal;
}
.showcase-area-inner h5>span > strong{
	font-size: 36px;
	line-height: 43px;
font-family:"OpenSansLight";
font-weight: normal;
}
.showcase-area-inner h1{
	font-size: 36px;
	line-height: 43px;
font-family:"OpenSansRegular";
text-transform: uppercase;
letter-spacing: 1px;
margin-top:20px;
font-weight: normal;
}
.showcase-area-inner h6{
margin-top:20px;
}
.showcase-area-inner h6 > span{
text-transform: uppercase;
font-family:"OpenSansRegular";
	font-size: 12px;
	line-height: 19px;
	padding: 10px;
}
.showcase-proceed{
	margin-top: 40px;
}
.showcase-proceed > a{
	opacity: 1;
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		 -o-transition: all .3s linear;
			transition: all .3s linear;
}
.showcase-proceed > a:hover{
	opacity: 0.5;
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		 -o-transition: all .3s linear;
			transition: all .3s linear;
}
/*showcase-two only styles*/
.emblem-in-showcase .emblem-area h3{
	font-size: 20px;
	line-height: 27px;
}

.emblem-in-showcase .emblem-area{
	padding: 70px 50px;
	width: 250px;
	height: 250px;
	border-radius: 250px;
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		 -o-transition: all .3s linear;
			transition: all .3s linear;
}
a:hover > .emblem-area{
	background: #121212;
	color: #fff !important;
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		 -o-transition: all .3s linear;
			transition: all .3s linear;
}
a:hover > .emblem-area *{
	color: #fff !important;
}



/*Showcase Video BG Slides Settings*/
.video-container {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.video-container .video-overlay-content {
	position: absolute;
	top: 0;
}



/*CALL-TO-ACTION*/
.call-to-action{
	text-align: center;
	padding: 80px 0px;
	background: url('../images/face-tiles.jpg') repeat !important;
	background-size: cover !important;
}
.call-to-action.alternative-bg{
	text-align: center;
	padding: 80px 0px;
	background: url('../images/dark-bliss.jpg') repeat !important;
	background-size: cover !important;
}
.call-to-action.custom-bg-cyan{
	background: url('../images/face-tiles-cyan.jpg') repeat !important;
	background-size: cover !important;
}
.call-to-action.custom-bg-yellow{
	background: url('../images/face-tiles-yellow.jpg') repeat !important;
	background-size: cover !important;
}
.call-to-action.custom-bg-dark{
	background: url('../images/face-tiles-dark.jpg') repeat !important;
	background-size: cover !important;
}

/** OL **/

.call-to-action.custom-bg-ol{
    background: url('../images/face-tiles-ol.jpg') repeat !important;
	background-size: cover !important;
}



/** **/



.call-to-action h1{
	font-weight: normal;
font-family:"OpenSansBold";
	font-size: 24px;
	line-height: 31px;
	margin-bottom: 10px;
}
.call-to-action h1 > span{
	display: block;
	font-weight: normal;
font-family:"OpenSansLight";
	font-size: 64px;
	line-height: 71px;
	margin-bottom: 30px;
}
.call-to-action h4{
	margin-top: 15px;
	font-weight: normal;
font-family:"OpenSansLight";
	margin-bottom: 30px;
}
.call-to-action a{
}
.stats-wrap{
}
.stats-block{
	padding: 50px;
	text-align: center;
}
.stats-block > img{
	width: 150px;
	height: 150px;
	border-radius: 150px;
	margin-bottom: 10px;
}
.stats-count{
	font-weight: normal;
font-family:"OpenSansBold";
	font-size: 64px;
	line-height: 71px;
	margin-bottom: 20px;
}
.stats-des > span{
	border: solid 1px #000;
	color: #fff;
	font-size: 12px;
	line-height:12px;
font-family:"OpenSansRegular";
text-transform: uppercase;
letter-spacing: 1px;
margin-bottom: 0;
padding: 10px;
}
.stats-carousel-item{
	padding: 50px 0;
}

/*ABOUT PAGE*/
.about{
	padding-bottom: 0;
}
.about-inner-bg{
	padding: 100px 0;
	background:url('../images/mapbox.jpg') center center repeat-y;
	background-size: 100%;
}
.about-inner-content{
	padding: 40px;
}
.about-inner-content > img{
	padding: 20px;
	padding-top: 0;
	padding-bottom: 10px;
	border-radius: 100%;
}
.about-inner-content a > h1, .about-inner-content > h1{
	font-size: 48px;
	line-height:55px;
font-family:"OpenSansRegular";
text-transform: uppercase;
letter-spacing: 1px;
margin-bottom: 0;
}

.about-inner-content a:hover{
transform: translateX(1 100px);
}
.about-inner-content > h3{
	font-size: 18px;
	line-height:25px;
font-family:"OpenSansRegular";
text-transform: uppercase;
letter-spacing: 1px;
margin-bottom: 0;
}


/*TESTIMONIALS*/
.testimonials{
	
}
.testimonial-block{
	padding-bottom: 20px;
}
.testimonial-block h3{
	font-weight: normal;
font-family:"OpenSansLight";
	margin-bottom: 0;
	color: #777;
	margin-bottom: 7px;
	font-size: 24px;
	line-height: 31px;
}
.testimonial-block h5{
font-family:"OpenSansRegular";
	font-weight: normal;
	margin-bottom: 0;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 20px;
	line-height: 27px;
}
.testimonial-brand{
	margin-top: 10px;
}
.testimonial-brand > span{
	padding: 7px;
	font-size: 12px;
	line-height: 19px;
	font-weight: normal;
font-family:"OpenSansLight";
}
.user-thumb > img{
	margin-bottom: 10px;
	border-radius: 50px;
}

/*SERVICES*/

.services-inner-content{
	padding: 40px;
    
}
.services-inner-content > img{
	width: 150px;
	height: 140px;
	border-radius: 150px;
	margin-bottom: 20px;
}
.services-inner-content a > h1{
	font-size: 48px;
	line-height:55px;
font-family:"MontserratRegular";
text-transform: uppercase;
letter-spacing: 1px;
margin-bottom: 0;
    
}

.services-inner-content a:hover{
transform: translateX(1 100px);
}
.services-inner-content > h3{
	font-size: 18px;
	line-height:25px;
font-family:"OpenSansRegular";
text-transform: uppercase;
letter-spacing: 1px;
margin-bottom: 0;
}


/*FEATURED*/

.featured-roller {
  position: relative;
  overflow: hidden;
  padding: 100px 0 0 0;
  text-align: center;
}
.featured-roller h3 {
	font-weight: normal;
	font-family:"OpenSansBold";
	font-size: 48px;
	line-height: 55px;
	margin-bottom: 20px;
}
.featured-roller h5 > span {
	border: 1px solid #000000;
    color: #FFFFFF;
    font-family: "OpenSansRegular";
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 12px;
    margin-bottom: 0;
    padding: 10px;
    text-transform: uppercase;
}
.featured-roller  img {
  margin-top: 50px;
}

/*NEWS*/
.news-list-item{
	margin-bottom: 30px;
}
.news-inner-content{
	padding: 40px;
}
.news-inner-content > img{
	padding: 60px;
	padding-top: 0;
	padding-bottom: 10px;
}
.news-inner-content a > h1{
	font-size: 48px;
	line-height:55px;
font-family:"OpenSansRegular";
text-transform: uppercase;
letter-spacing: 1px;
margin-bottom: 0;
}

.news-inner-content a:hover{
transform: translateX(1 100px);
}
.news-inner-content > h3{
	font-size: 18px;
	line-height:25px;
font-family:"OpenSansRegular";
text-transform: uppercase;
letter-spacing: 1px;
margin-bottom: 0;
}
.news-inner-content > h4{
	font-size: 18px;
	line-height:25px;
font-family:"OpenSansBold";
margin-bottom: 0;
}

.news-inner-content > p{
margin-bottom: 30px;
}
.news-inner-content > h4 > .news-date{
	font-size: 42px;
	line-height:49px;
font-family:"OpenSansLight";
margin-bottom: 0;
}
.news-inner-content > h4 > .news-month{
	font-size: 18px;
	line-height:25px;
font-family:"OpenSansLight";
margin-bottom: 0;
}
.news-inner-content > .news-author{
	margin-top: 10px;
	padding-top: 5px;
	font-size: 14px;
	line-height:21px;
border-top: solid 1px #aaa;
}
.news-inner-content > .news-category{
	font-size: 12px;
	line-height:19px;
font-family:"OpenSansLight";
margin-bottom: 0;
}



/*PORTFOLIO*/
.portfolio{
	background-color: #fff;
}

#portfolio {
    background-size: cover;
}
#portfolio .welcome-text{
    color: #686351;
}
/*-- 1. General --*/
div#portfolio {
    padding-top: 50px;
    background: #333;
}

div#portfolio_title {
    margin-bottom: 33px;
}

div#portfolio_title h2 {
    color: #FFF;
}

.sortablePortfolio, #portfolioFilter {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#portfolio-wrap {
    padding-top: 0px;
}

/*-- 2. Filter --*/
div#filter {
    padding-bottom: 30px;
}

div#filter_wrapper {
    position: relative;
    margin-bottom: 0px;
    padding: 10px;
}

ul#portfolioFilter {
    line-height: 18px;
    position: relative;
}

ul#portfolioFilter li {
	display: inline-block;
/*    float: left;*/
    margin: 0px 10px;
    font-family: "OpenSansRegular";
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 21px;
     text-transform: uppercase;
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		 -o-transition: all .3s linear;
			transition: all .3s linear;
}


ul#portfolioFilter li:hover {
	-webkit-transition: all .3s linear;
	   -moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		 -o-transition: all .3s linear;
			transition: all .3s linear;
			cursor: pointer;
}
/*ul#portfolioFilter li:after {
	content: ' / ';
	color: #000;
    font-family: "MontserratRegular";
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 21px;
    margin-right: 3px;
    margin-left: 3px;
}
ul#portfolioFilter li:last-child:after {
	content: ' ';
	display: none;
}*/


/*-- 3. Thumbs --*/
div#portfolio_thumbs {
    position: relative;
    z-index: 7;
}

div#portfolio_thumbs ul {
    display: block;
}

div#portfolio_thumbs ul li {
    float: left;
    width: 25%;
    position: relative;
    padding: 0px;
    -moz-transition: all 1.25s ease;
    -webkit-transition: all 1.25s ease;
    -o-transition: all 1.25s ease;
    transition: all 1.25s ease;
}
div#portfolio_thumbs ul li:hover {
    -moz-transition: all 1.25s ease;
    -webkit-transition: all 1.25s ease;
    -o-transition: all 1.25s ease;
    transition: all 1.25s ease;
}

div#portfolio_thumbs ul li img {
    width: 100%;
    height: auto;
    display: block;
    -moz-transition: all 1.25s ease;
    -webkit-transition: all 1.25s ease;
    -o-transition: all 1.25s ease;
    transition: all 1.25s ease;
}

.opactiyReduce{
	opacity: 0.2 !important;
    -moz-transition: all 1.25s ease;
    -webkit-transition: all 1.25s ease;
    -o-transition: all 1.25s ease;
    transition: all 1.25s ease;
}

div#portfolio_thumbs ul li div.item_info {
	display: none;
    width: 100%;
    height: 100%;
    padding: 25px;
    text-align: center;
    position: absolute;
    top:0;
}


div#portfolio_thumbs ul li div.item_info h3 {
	color: #000;
	font-size: 18px;
	line-height:25px;
font-family:"OpenSansRegular";
text-transform: uppercase;
letter-spacing: 1px;
margin-bottom: 0;
}
div#portfolio_thumbs ul li div.item_info p > span{
	color: #000;
	background: #fff;
	font-size: 12px;
	font-weight: 200;
	line-height: 19px;
	font-family:"OpenSansLight";
	padding: 5px 10px;
}
.add-space-min{
	margin-top: 20px;
	margin-bottom: 20px;
}
.links-wrap{
	list-style: none;
	padding: 0;
	margin-top: 20px;
	text-align: center;
}
.links-wrap a{
	margin: 3px;
font-family:"OpenSansRegular";
}

/*-- 4. Item page --*/
#portfolio_item {
    display: none;
    width: 100%;
}

#item_container {
    padding-bottom: 30px;
}

#item_content {
    margin: 0 auto;
}

#text_content {
    /*width: 680px;*/
    line-height: 20px;
    text-align: left;
    font-size: 12px;
    color: #666;
    padding: 30px;
    padding-top: 40px;
}

#text_content h3 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family:"OpenSansRegular";
	font-size: 36px;
	line-height: 43px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #222;
}
#text_content h5{
	font-size: 18px;
	line-height:25px;
font-family:"OpenSansRegular";
text-transform: uppercase;
letter-spacing: 1px;
margin-top: 0px;
margin-bottom: 0;
}
#text_content p {
    font-size: 14px;
    line-height: 21px;
    color: #666;
    font-family:"OpenSansRegular";
    font-weight: normal;
    margin-bottom: 40px;
}
.spec-list{
	list-style: none;
	padding: 0;
	margin-top: 30px;
	padding-left: 20px;
}
.spec-list > li{
	padding: 10px;
	background: #ccc;
	margin-bottom: 2px;
}

.project-area-inner{
	padding: 40px;
}

.project-area-inner h5>span{
	font-size: 96px;
	line-height: 103px;
font-family:"OpenSansLight";
font-weight: normal;
}
.project-area-inner h5>span > strong{
	font-size: 36px;
	line-height: 43px;
font-family:"OpenSansLight";
font-weight: normal;
}
.project-area-inner h1{
	font-size: 36px;
	line-height: 43px;
font-family:"OpenSansRegular";
text-transform: uppercase;
letter-spacing: 1px;
margin-top:20px;
font-weight: normal;
}
.project-area-inner h6{
margin-top:20px;
}
.project-area-inner h6 > span{
text-transform: uppercase;
font-family:"OpenSansRegular";
	font-size: 12px;
	line-height: 19px;
	padding: 10px;
}
.project-proceed{
	margin-top: 40px;
}

.project-inner-content{
	padding: 40px;
}
.project-inner-content > h4{
	font-size: 18px;
	line-height:25px;
font-family:"OpenSansBold";
margin-bottom: 0;
}

.project-inner-content > p{
margin-bottom: 30px;
}
.project-inner-content > h4 > .project-date{
	font-size: 24px;
	line-height:31px;
font-family:"OpenSansLight";
margin-bottom: 0;
}
.project-inner-content > h4 > .project-month{
	font-size: 18px;
	line-height:25px;
font-family:"OpenSansLight";
margin-bottom: 0;
}
.project-inner-content > .project-spec{
	margin-top: 10px;
	padding-top: 5px;
	font-size: 14px;
	line-height:21px;
border-top: solid 1px #aaa;
}
.project-inner-content > .project-category{
	font-size: 12px;
	line-height:19px;
font-family:"OpenSansLight";
margin-bottom: 0;
}
.top-frame{
}

/* Slider */
#item_slider {
/*    width: 680px;*/
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

#item_slider a:active {
    outline: none;
}

.slides,  .flex-control-nav,  .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

#item_slider .slides > li {
    display: none;
}

#item_slider .slides img {
    max-width: 100%;
    display: block;
}

#item_slider {
    position: relative;
    zoom: 1;
}

#item_slider .slides {
    zoom: 1;
}

#item_slider .slides > li {
    position: relative;
}

#item_slider .flex-direction-nav li a {
    color: #FFFFFF;
    cursor: pointer;
    font-family: "OpenSansLight";
    font-size: 18px;
    line-height: 18px;
    position: absolute;
    padding: 15px;
    text-align: center;
    text-indent: 1px;
    top: 0px;
    opacity: 0.9;
}

#item_slider .flex-direction-nav li a:hover {
    opacity: 1;
}

#item_slider .flex-direction-nav li .next {
    left: 41px;
}

#item_slider .flex-direction-nav li .prev {
    left: 0px;
}


/* Video */
#item_video_wrapper {
}

#item_video {
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin-top: 50px;
}

#item_video iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    border:none;
}

/* Control buttons */
#control_buttons {
/*    width: 680px;*/
    padding: 15px 8px 5px 8px;
    margin-top: px;
}

#control_buttons a {
    display: inline-block;
    width: 45px;
    height: 45px;
    border-radius: 45px;
    line-height: 38px;
    margin-bottom: 10px;
    margin-left: 5px;
border:solid 2px #000;
	background: transparent;
	color: #000;
    font-size: 24px;
    font-family:"OpenSansLight";
     text-align: center;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
#control_buttons a:hover {
border:solid 2px #000;
	background: transparent;
	color: #000;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.url-linker a{
	margin-left: 0px;
	margin-top: 10px;
}
.project-info-tag{
	padding-top:0px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.project-info-tag > span{
	letter-spacing: 0px;
	font-family:"OpenSansLight";
	font-size: 14px;
	line-height: 21px;
	text-transform: none;
	padding: 7px;
}

#grid .mix{
    opacity: 0;
    display: none;
}
.project-deatil-image{
	padding: 0 !important;
}
.det-overlay{
	opacity: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
}
.project-deatil-image:hover > a > img{
	opacity: 0;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.project-deatil-image:hover > a > .det-overlay{
	opacity: 1;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
.project-features-wrap{
	margin-top: 40px;
}
.project-spec-lines{
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}
.project-spec-lines li{
	padding: 10px;
	background:#eee;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 21px;
	font-family:"OpenSansRegular";
	color: #444;
}

/*CONTACT*/
.contact{
	padding: 120px 0;
	background: url('../images/face-tiles-ol.jpg') repeat !important;
    background-size: cover !important;
}

.contact.custom-bg-cyan{
	background: url('../images/face-tiles-cyan.jpg') repeat !important;
}

/* OL */

contact.custom-bg-ol{
    	background: url('../images/face-tiles-ol.jpg') repeat !important;
    background-size: cover !important;
}

.custom-bg-ol2{
    background: url('../images/face-tiles-ol_2.jpg') repeat !important;
    background-size: cover !important;
}


/* */

.contact.custom-bg-yellow{
	background: url('../images/face-tiles-yellow.jpg') repeat !important;
}
.contact.custom-bg-dark{
	background: url('../images/face-tiles-dark.jpg') repeat !important;
}
.contact-block{
	padding: 40px 0;
}
.contact-block a.email-us{
	font-weight: normal;
font-family:"OpenSansBold";
	font-size: 28px;
	line-height: 35px;
	color: #243547;
}
.contact-block a.email-us:hover{
	color: #fff;
}
.contact-subline{
	margin-top: 10px;
	margin-bottom: 50px;
}
.contact-subline > span{
	color: #000;
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
font-family:"OpenSansLight";
}

.email-thumb > img, .newsletter-thumb > img, .twitter-thumb > img{
	margin-bottom: 10px;
	border-radius: 50px;
}

.email-thumb i{
	margin-bottom: 5px;
	background-color: #ff9525;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    padding-top: 12px;
}

/*contact form*/

.contact-mail-wrap{
	padding: 50px 0;
}
.contact-mail{
	font-size: 18px;
	line-height: 25px;
	font-family:"OpenSansLight";
	color: #fff;
}
.contact-form-wrap{
	padding-top: 50px;
	padding-bottom: 50px;
}

/* */

#sign-in-name{
     background: none;
     border-bottom: 1px solid #fff !important;
     color: #2f2f2f !important;
 }   
 
#sign-in-name::-webkit-input-placeholder {
    color:#99aac3;
    font-weight: 600;
    font-style: italic;
}

 #sign-in-password{
     background: none;
     border-bottom: 1px solid #fff !important;
     color: #2f2f2f !important;
 }

#sign-in-password::-webkit-input-placeholder {
    color:#99aac3;
    font-weight: 600;
    font-style: italic;
}

/*  */

input {
    background: rgba(255,255,255,0.5); !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    color: #000 !important;
    font-family:"OpenSansLight" !important;
    font-size: 18px !important;
    height: 50px !important;
    line-height: 35px !important;
    margin-bottom: 10px !important;
    padding: 10px !important;
    width: 100%;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
input:focus, textarea:focus {
    border: solid 1px #fff !important;
    background: #fff !important;
    color: #000 !important;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
textarea {
    background: rgba(255,255,255,0.5); !important;
    border: none !important;
    border-radius: 0px !important;
    box-shadow: none !important;
    color: #000 !important;
    font-family:"OpenSansLight" !important;
    font-size: 18px !important;
    line-height: 30px !important;
    margin-top: 0;
    padding: 10px !important;
    resize: none;
    width: 100%;
	-webkit-transition: all .8s linear;
	   -moz-transition: all .8s linear;
		-ms-transition: all .8s linear;
		 -o-transition: all .8s linear;
			transition: all .8s linear;
}
input.send_message {
    background: none repeat scroll 0 0 #EF4A4A;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
    width: 120px;
}
input.send_message:hover {
    background: none repeat scroll 0 0 #262932;
}
fieldset {
    border: 0 none;
    float: left;
    padding: 0;
    position: relative;
    width: 100%;
}
fieldset h1 {
    color: #000000;
    font-size: 24px;
}
.contact-label-box {
    color: #FFFFFF;
    font-family:"OpenSansLight";
    font-size: 24px;
    line-height: 31px;
    padding: 30px 20px;
    text-align: center;
}
.contact-label-box > span {
    display: block;
    margin-right: 10px;
}
.contact-label-box > span > img {
    height: 60px;
    width: 60px;
}
.contact-label-box a:hover {
    color: #CCCCCC;
    text-decoration: none;
}
.contact .alert{
	box-shadow: none;
	border:none;
	border-radius: 0;
	text-shadow:none;
	font-size: 12px;
	line-height: 19px;
    	font-family:"OpenSansLight";
	margin-bottom:10px;
	padding:10px;
	background:#000;
	color: #fff;
	text-align: left;
}
.contact .alert > p{
	text-shadow:none;
	font-size: 12px;
	line-height: 19px;
    	font-family:"OpenSansLight";
	color: #fff;
	text-align: left;
}
.btn-wrap{
	margin-top: 30px;
	text-align: left;
}
.space-left{
	margin-left: 1%;
}


/*FOOTER*/
.mastfoot{
	min-height: 100px;
}
.foot-top{
	padding: 10px 0;
    background: #c6d0df;
}
.foot-bottom{
	background: #243547;
	padding: 20px 0;
}

.foot-bottom h4{
    color: #4f99db !important;
    font-weight: 600;
    text-align: left;
    
}

.foot-bottom p{
    color: #fff;
    font-size: 0.7em;
    line-height: 13px;
    font-weight: 300 !important;
    margin-top: 0.4rem;
}

#foot-bottom ul{
     list-style-type: none;
     padding: 0px !important;
     margin: 0px !important;   
}

.foot-bottom li{
    color: #fff;
    font-size: 0.8em;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin-left: 0 !important;
    padding: 0 !important;
    line-height: 20px;
      
}


.social-wrap{
	padding: 20px;
}
.credentials-wrap{
}
.credits-wrap{
	padding: 20px;
}
.social{
	list-style: none;
	padding: 0;
}
.social li{
	display: inline-block;
	margin: 4px;
}
.social li a > img{
	width: 35px;
	height: 35px;
	opacity: 1;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.social li a:hover > img{
	width: 35px;
	height: 35px;
	opacity: 0.2;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}

.credentials{
	list-style: none;
	padding: 0;
	margin: 30px 0;
}
.credentials li{
	display: inline-block;
	margin: 4px;
}
.credentials li a > img{
	width: 35px;
	height: 35px;
	opacity: 1;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.credentials li a:hover > img{
	width: 35px;
	height: 35px;
	opacity: 0.2;
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		-ms-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.credential-text{
	color: #fff;
	text-decoration: none;
	font-family:"OpenSansLight";
	font-size: 14px;
	line-height: 21px;
	padding-right: 30px;
	padding-left: 10px;
}

.credentials li:last-child .credential-text{
	padding-right: 0px;
	padding-left: 10px;
}
.credits-wrap > p{
	color: #666;
	font-family:"OpenSansLight";
	font-size: 12px;
	line-height: 19px;
	margin-bottom: 0;
}

/*Tweet Panel*/
.tweet-panel{
	padding: 60px 0;
	background: #fff;
}
.tweet-panel h3{
	font-size: 32px;
	line-height:39px;
font-family:"OpenSansBold";
font-weight: normal;
}


.email-thumb img{
    background: #ff9525 !important;
}

.foot-bottom-ul{
    margin: 0 !important;
    padding: 0 !important;
}

#play_button i{
    z-index: 13;
    display: block;
    margin-bottom: -70px;
}

#play_button i:active{
    color: #fff;
 }

.cool-beach-1{
    background: url('../images/services/jb_weeks.jpg') !important;
    
}

.yachts-bg{
    background: url('../images/services/golf.jpg') !important;
}

.asap-bg{
    background: url('../images/services/asap.jpg') !important;
}

.cruises-bg{
    background: url('../images/services/cruises.jpg') !important;
}

.tc-bg{
    background: url('../images/services/travel_concierge.jpg') repeat !important;
    
}


#logomono{
    z-index: 80;
    width: 104%;
    margin-bottom: 20px;
}

.login-panel{
    width: 310px;
}


.sign-in-data li{
    list-style-type: none;
    margin: 0 !important;
    padding: 0 !important;
}

.sign-in-data {
    width: 280px;
}

#login-button .btn{
    width: 280px;
}


#login-button p{
    color: #2f2f2f;
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 5px;
}

#login-button a{
    background: #fff; 
    padding: 0.3rem;
}

#login-button a:hover{
    background: #4f99db;
}

#login-button a:active{
    background: #ff9525;
}

.services_text{
    margin-top:160px;
}

/* meu menu menu */


.video_container{
    position: fixed;
    left: 0;
    right: 0;
    z-index: -998;
    width: 100%;
    height: 100%;
    background: url('../images/bg/venice.jpg') ;
    background-size: cover;
}

.slide-ol{
    z-index: -99 !important;
    margin-top: -80px !important;
}
    

.slide-ol .emblem-area-wrap{
    margin-top: -130px !important;
    width: 300px !important;
}



