/*MAIN.CSS*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: PRESENCE.*/
/* Author: Designova.*/
/* Website: http://www.designova.net */
/* Copyright: (C) 2014 */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*==========================*/
/*ALL DEVICE OPTIMIZATION*/
/*===========================*/

/*Huge Displays*/
@media (min-width: 3000px) {
	 

}

/*Projector Screens and Ver Large Monitors*/
@media (min-width: 2561px) {
	  

}

/*iMac 27, HD Screens and Large Monitors*/
@media (min-width: 1921px) and (max-width: 2560px) {
	 

}

/*Large Widescreen Monitors*/
@media (max-width: 1920px) {
	div#portfolio_thumbs ul li{
		width: 20%;
	}
}

/*Medium Widescreen Monitors*/
@media (max-width: 1680px) {
	div#portfolio_thumbs ul li{
		width: 20%;
	}
}

/*Large Widescreen Laptops*/
@media (max-width: 1440px) {
	div#portfolio_thumbs ul li{
		width: 20%;
	}
}

/*Common Widescreen Laptops*/
@media (max-width: 1366px) {
	div#portfolio_thumbs ul li{
		width: 25%;
	}
}


/*Very Large Tablets and Medium Laptops*/
@media (max-width: 1280px) {
	div#portfolio_thumbs ul li{
		width: 25%;
	}
}

/*Notebooks and Small Laptops*/
@media (max-width: 1152px) {
	div#portfolio_thumbs ul li{
		width: 25%;
	}
}

/*iPad Landscape Mode and Large Tablets */
@media (max-width: 1024px) {
	.container{
	    max-width: 800px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.btn{
		width: 100%;
	}
	.static-side-navigation-wrap{
		z-index: 90;
		background: transparent !important;
		box-shadow: none !important;
	}
	.navigation, .vertical-logo{
		display: none;
	}
	.slide, .mast-wrap{
		padding-right: 0 !important;
	}
	.promo-text{
		font-size: 16px;
		line-height: 23px;
		text-align: center;
	}
	.promotional-area-inner{
		max-width: 300px;
	}
	.showcase-area-inner{
		max-width: 300px;
	}
	.promotional-area h1 > span{
		font-size:18px;
		line-height: 25px;
	}
	.promotional-area h3{
		font-size:24px;
		line-height: 31px;
	}
	.emblem-area {
	    border-radius: 200px;
	    height: 200px;
	    padding: 25px;
	    width: 200px;
	}
	.emblem-area h3{
		font-size: 18px;
		line-height: 25px;
	}
	.emblem-in-showcase .emblem-area {
	    border-radius: 200px;
	    height: 200px;
		padding: 60px 30px;
	    width: 200px;
	}
	.emblem-in-showcase .emblem-area h3{
		font-size: 14px;
		line-height: 21px;
	}
	.shoutout-area{
		padding: 10px;
		text-align: center;
		padding-left: 120px;
		padding-right: 120px;
	}
	.shoutout-area > h1{
		font-size: 24px;
		line-height: 31px;
	}
	.shoutout-area > h6{
		text-align: center;
	}
	.shoutout-area > h6 > span{
		font-size: 18px;
		line-height: 25px;
	}
	.showcase-area-inner h1 {
	    font-size: 20px;
	    letter-spacing: 0px;
	    line-height: 27px;
	}
	.showcase-area-inner h5 > span{
		font-size: 56px;
		line-height: 63px;
	}
	.promo-text-main {
	    font-size: 14px;
	    line-height: 21px;
	    margin: 20px auto 0;
	    width: 380px;
	}
	.main-heading{
		font-size: 28px;
		line-height: 35px;
	}
	.about-inner-content a > h1, .about-inner-content > h1, .services-inner-content a > h1{
		font-size: 24px;
		line-height: 31px;
	}
	.testimonial-block h3{
		font-size: 14px;
		line-height: 21px;
	}
	.testimonial-block h5{
		font-size: 14px;
		line-height: 21px;
	}
	.promo-text {
	    font-size: 14px;
	    line-height: 21px;
	    padding: 0 10px;
	}
	.news-inner-content > h4 > .news-date{
		font-size: 24px;
		line-height: 31px;
	}
	.view{
		width: 50%;
	}
	.contact-block a.email-us{
		font-size: 18px;
		line-height: 25px;
	}
	.btn-presence{
		width: 100%;
		display: block;
		text-align: center;
	}
	.social-wrap{
		padding-bottom: 0;
	}
	.credit-wrap{
		padding-top: 0;
	}
	.call-to-action h1 > span{
		font-size: 30px;
		line-height: 37px;
	}
	.stats-carousel-item .btn-presence {
	    padding: 5px;
	    border:none;
	    background: transparent;
	}
	.project-area-inner{
		padding: 15px;
	}
	.project-area-inner h5 > span {
	    font-size: 48px;
	    line-height: 55px;
	}
	.project-area-inner h1{
		font-size: 24px;
		line-height: 31px;
	}
	.project-area-inner h6 > span{
	    border:none !important;
		background: transparent !important;
	}
	.project-inner-content{
		padding: 10px;
	}
	#text_content{
		padding: 20px 15px;
	}
	.overlay nav{
		font-size: 14px;
		line-height: 25px;
		margin-top: 30px;
	}
	.overlay ul li a > span{
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0px;
	}
	.overlay ul li{
		min-height: 18px;
	}
	.intro-with-sidenav .owl-nav-sticky-wide .owl-next{
		right: 20px;
	}
	
    #logomono{
    z-index: 80;
    width: 184%;
    margin-bottom: 20px;
}
    
    #video{
        display: none;
    }
    
    .video_container{
        width: 100%;
        height: 110%;
    }
    
    
    .services-inner-content{
        margin-bottom: -20px !important;
    }
    
    
}

/*Small Desktop and Very Small Notebook */
@media (max-width: 980px) {
	.container{
	    max-width: 800px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.liner-small-left, .liner-small-right{
		text-align: center;
	}
	.static-side-navigation-wrap{
		z-index: 90;
		background: transparent !important;
		box-shadow: none !important;
	}
	.navigation, .vertical-logo{
		display: none;
	}
	.slide, .mast-wrap{
		padding-right: 0 !important;
	}
	.promo-text{
		font-size: 16px;
		line-height: 23px;
		text-align: center;
	}
	.promotional-area-inner{
		max-width: 300px;
	}
	.showcase-area-inner{
		max-width: 300px;
	}
	.promotional-area h1 > span{
		font-size:18px;
		line-height: 25px;
	}
	.promotional-area h3{
		font-size:24px;
		line-height: 31px;
	}
	.emblem-area {
	    border-radius: 200px;
	    height: 200px;
	    padding: 25px;
	    width: 200px;
	}
	.emblem-area h3{
		font-size: 18px;
		line-height: 25px;
	}
	.emblem-in-showcase .emblem-area {
	    border-radius: 200px;
	    height: 200px;
		padding: 60px 30px;
	    width: 200px;
	}
	.emblem-in-showcase .emblem-area h3{
		font-size: 14px;
		line-height: 21px;
	}
	.shoutout-area{
		padding: 10px;
		text-align: center;
		padding-left: 100px;
		padding-right: 100px;
	}
	.shoutout-area > h1{
		font-size: 24px;
		line-height: 31px;
	}
	.shoutout-area > h6{
		text-align: center;
	}
	.shoutout-area > h6 > span{
		font-size: 18px;
		line-height: 25px;
	}
	.showcase-area-inner h1 {
	    font-size: 20px;
	    letter-spacing: 0px;
	    line-height: 27px;
	}
	.showcase-area-inner h5 > span{
		font-size: 56px;
		line-height: 63px;
	}
	.promo-text-main {
	    font-size: 14px;
	    line-height: 21px;
	    margin: 20px auto 0;
	    width: 380px;
	}
	.main-heading{
		font-size: 28px;
		line-height: 35px;
	}
	.about-inner-content a > h1, .about-inner-content > h1, .services-inner-content a > h1{
		font-size: 24px;
		line-height: 31px;
	}
	.about-inner-bg{
		background: #fff !important;
	}
	.testimonial-block h3{
		font-size: 14px;
		line-height: 21px;
	}
	.testimonial-block h5{
		font-size: 14px;
		line-height: 21px;
	}
	.promo-text {
	    font-size: 14px;
	    line-height: 21px;
	    padding: 0 10px;
	}
	.news-inner-content > h4 > .news-date{
		font-size: 24px;
		line-height: 31px;
	}
	.view{
		width: 50%;
	}
	.contact-block a.email-us{
		font-size: 18px;
		line-height: 25px;
	}
	.btn-presence{
		width: 100%;
		display: block;
		text-align: center;
	}
	.social-wrap{
		padding-bottom: 0;
	}
	.credit-wrap{
		padding-top: 0;
	}
	.call-to-action h1 > span{
		font-size: 30px;
		line-height: 37px;
	}
	.stats-carousel-item .btn-presence {
	    padding: 5px;
	    border:none;
	    background: transparent;
	}
	.project-area-inner{
		padding: 15px;
	}
	.project-area-inner h5 > span {
	    font-size: 48px;
	    line-height: 55px;
	}
	.project-area-inner h1{
		font-size: 24px;
		line-height: 31px;
	}
	.project-area-inner h6 > span{
	    border:none !important;
		background: transparent !important;
	}
	.project-inner-content{
		padding: 10px;
	}
	#text_content{
		padding: 20px 15px;
	}
	.overlay nav{
		font-size: 14px;
		line-height: 25px;
		margin-top: 30px;
	}
	.overlay ul li a > span{
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0px;
	}
	.overlay ul li{
		min-height: 18px;
	}
	.stats-carousel-item .pad-top{
		padding-top: 20px;
	}
	.stats-carousel-item .stats-block{
		padding:0px;
	}
	.stats-block > img {
	    border-radius: 120px;
	    height: 120px;
	    margin-bottom: 0px;
	    width: 120px;
	}
	.stats-count{
		font-size:42px;
		line-height: 49px;
	    margin-bottom: 10px;
	}
	.stats-des > span{
		padding: 3px;
		font-size: 14px;
		line-height: 21px;
	}
	.intro-with-sidenav .owl-nav-sticky-wide .owl-next{
		right: 20px;
	}
	
}

/*Medium Tablets */
@media (max-width: 800px) {
	  .container{
	    max-width: 668px;
	}
	
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.liner-small-left, .liner-small-right{
		text-align: center;
	}
	.static-side-navigation-wrap{
		z-index: 90;
		background: transparent !important;
		box-shadow: none !important;
	}
	.navigation, .vertical-logo{
		display: none;
	}
	.slide, .mast-wrap{
		padding-right: 0 !important;
	}
	.promo-text{
		font-size: 16px;
		line-height: 23px;
		text-align: center;
	}
	.promotional-area-inner{
		max-width: 300px;
	}
	.showcase-area-inner{
		max-width: 300px;
	}
	.promotional-area h1 > span{
		font-size:18px;
		line-height: 25px;
	}
	.promotional-area h3{
		font-size:24px;
		line-height: 31px;
	}
	.emblem-area {
	    border-radius: 200px;
	    height: 200px;
	    padding: 25px;
	    width: 200px;
	}
	.emblem-area h3{
		font-size: 18px;
		line-height: 25px;
	}
	.emblem-in-showcase .emblem-area {
	    border-radius: 200px;
	    height: 200px;
		padding: 60px 30px;
	    width: 200px;
	}
	.emblem-in-showcase .emblem-area h3{
		font-size: 14px;
		line-height: 21px;
	}
	.shoutout-area{
		padding: 10px;
		text-align: center;
		padding-left: 80px;
		padding-right: 80px;
	}
	.shoutout-area > h1{
		font-size: 24px;
		line-height: 31px;
	}
	.shoutout-area > h6{
		text-align: center;
	}
	.shoutout-area > h6 > span{
		font-size: 18px;
		line-height: 25px;
	}
	.showcase-area-inner h1 {
	    font-size: 20px;
	    letter-spacing: 0px;
	    line-height: 27px;
	}
	.showcase-area-inner h5 > span{
		font-size: 56px;
		line-height: 63px;
	}
	.promo-text-main {
	    font-size: 14px;
	    line-height: 21px;
	    margin: 20px auto 0;
	    width: 380px;
	}
	.main-heading{
		font-size: 28px;
		line-height: 35px;
	}
	.about-inner-content a > h1, .about-inner-content > h1, .services-inner-content a > h1{
		font-size: 24px;
		line-height: 31px;
	}
	.about-inner-bg{
		background: #fff !important;
	}
	.testimonial-block h3{
		font-size: 14px;
		line-height: 21px;
	}
	.testimonial-block h5{
		font-size: 14px;
		line-height: 21px;
	}
	.promo-text {
	    font-size: 14px;
	    line-height: 21px;
	    padding: 0 10px;
	}
	.news-inner-content > h4 > .news-date{
		font-size: 24px;
		line-height: 31px;
	}
	.view{
		width: 50%;
	}
	.contact-block a.email-us{
		font-size: 18px;
		line-height: 25px;
	}
	.btn-presence{
		width: 100%;
		display: block;
		text-align: center;
	}
	.social-wrap{
		padding-bottom: 0;
	}
	.credit-wrap{
		padding-top: 0;
	}
	.call-to-action h1 > span{
		font-size: 30px;
		line-height: 37px;
	}
	.stats-carousel-item .btn-presence {
	    padding: 5px;
	    border:none;
	    background: transparent;
	}
	.project-area-inner{
		padding: 15px;
	}
	.project-area-inner h5 > span {
	    font-size: 48px;
	    line-height: 55px;
	}
	.project-area-inner h1{
		font-size: 24px;
		line-height: 31px;
	}
	.project-area-inner h6 > span{
	    border:none !important;
		background: transparent !important;
	}
	.project-inner-content{
		padding: 10px;
	}
	#text_content{
		padding: 20px 15px;
	}
	.overlay nav{
		font-size: 14px;
		line-height: 25px;
		margin-top: 30px;
	}
	.overlay ul li a > span{
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0px;
	}
	.overlay ul li{
		min-height: 18px;
	}
	.stats-carousel-item .pad-top{
		padding-top: 20px;
	}
	.stats-carousel-item .stats-block{
		padding:0px;
	}
	.stats-block > img {
	    border-radius: 120px;
	    height: 120px;
	    margin-bottom: 0px;
	    width: 120px;
	}
	.stats-count{
		font-size:42px;
		line-height: 49px;
	    margin-bottom: 10px;
	}
	.stats-des > span{
		padding: 3px;
		font-size: 14px;
		line-height: 21px;
	}
	.intro-with-sidenav .owl-nav-sticky-wide .owl-next{
		right: 20px;
	}
	.featured-roller h3 {
	    font-size: 32px;
	    line-height: 39px;
	}
	.featured-roller h5 > span {
	    border: none;
	    font-size: 12px;
	    line-height: 19px;
	}
	
	
}

/*iPad Portrait Mode, iPad Mini and Small Tablets */
@media (max-width: 768px) {
	 .container{
	    max-width: 668px;
	}
	
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.liner-small-left, .liner-small-right{
		text-align: center;
	}
	.static-side-navigation-wrap{
		z-index: 90;
		background: transparent !important;
		box-shadow: none !important;
	}
	.navigation, .vertical-logo{
		display: none;
	}
	.slide, .mast-wrap{
		padding-right: 0 !important;
	}
	.promo-text{
		font-size: 16px;
		line-height: 23px;
		text-align: center;
	}
	.promotional-area-inner{
		max-width: 300px;
	}
	.showcase-area-inner{
		max-width: 300px;
	}
	.promotional-area h1 > span{
		font-size:18px;
		line-height: 25px;
	}
	.promotional-area h3{
		font-size:24px;
		line-height: 31px;
	}
	.emblem-area {
	    border-radius: 200px;
	    height: 200px;
	    padding: 25px;
	    width: 200px;
	}
	.emblem-area h3{
		font-size: 18px;
		line-height: 25px;
	}
	.emblem-in-showcase .emblem-area {
	    border-radius: 200px;
	    height: 200px;
		padding: 60px 30px;
	    width: 200px;
	}
	.emblem-in-showcase .emblem-area h3{
		font-size: 14px;
		line-height: 21px;
	}
	.shoutout-area{
		padding: 10px;
		text-align: center;
		padding-left: 50px;
		padding-right: 50px;
	}
	.shoutout-area > h1{
		font-size: 24px;
		line-height: 31px;
	}
	.shoutout-area > h6{
		text-align: center;
	}
	.shoutout-area > h6 > span{
		font-size: 18px;
		line-height: 25px;
	}
	.showcase-area-inner h1 {
	    font-size: 20px;
	    letter-spacing: 0px;
	    line-height: 27px;
	}
	.showcase-area-inner h5 > span{
		font-size: 56px;
		line-height: 63px;
	}
	.promo-text-main {
	    font-size: 14px;
	    line-height: 21px;
	    margin: 20px auto 0;
	    width: 380px;
	}
	.main-heading{
		font-size: 28px;
		line-height: 35px;
	}
	.about-inner-content a > h1, .about-inner-content > h1, .services-inner-content a > h1{
		font-size: 24px;
		line-height: 31px;
	}
	.about-inner-bg{
		background: #fff !important;
	}
	.testimonial-block h3{
		font-size: 14px;
		line-height: 21px;
	}
	.testimonial-block h5{
		font-size: 14px;
		line-height: 21px;
	}
	.promo-text {
	    font-size: 14px;
	    line-height: 21px;
	    padding: 0 10px;
	}
	.news-inner-content > h4 > .news-date{
		font-size: 24px;
		line-height: 31px;
	}
	.view{
		width: 50%;
	}
	.contact-block a.email-us{
		font-size: 18px;
		line-height: 25px;
	}
	.btn-presence{
		width: 100%;
		display: block;
		text-align: center;
	}
	.social-wrap{
		padding-bottom: 0;
	}
	.credit-wrap{
		padding-top: 0;
	}
	.call-to-action h1 > span{
		font-size: 30px;
		line-height: 37px;
	}
	.stats-carousel-item .btn-presence {
	    padding: 5px;
	    border:none;
	    background: transparent;
	}
	.project-area-inner{
		padding: 15px;
	}
	.project-area-inner h5 > span {
	    font-size: 48px;
	    line-height: 55px;
	}
	.project-area-inner h1{
		font-size: 24px;
		line-height: 31px;
	}
	.project-area-inner h6 > span{
	    border:none !important;
		background: transparent !important;
	}
	.project-inner-content{
		padding: 10px;
	}
	#text_content{
		padding: 20px 15px;
	}
	.overlay nav{
		font-size: 14px;
		line-height: 25px;
		margin-top: 30px;
	}
	.overlay ul li a > span{
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0px;
	}
	.overlay ul li{
		min-height: 18px;
	}
	.stats-carousel-item .pad-top{
		padding-top: 20px;
	}
	.stats-carousel-item .stats-block{
		padding:0px;
	}
	.stats-block > img {
	    border-radius: 120px;
	    height: 120px;
	    margin-bottom: 0px;
	    width: 120px;
	}
	.stats-count{
		font-size:42px;
		line-height: 49px;
	    margin-bottom: 10px;
	}
	.stats-des > span{
		padding: 3px;
		font-size: 14px;
		line-height: 21px;
	}
	.intro-with-sidenav .owl-nav-sticky-wide .owl-next{
		right: 20px;
	}
	.featured-roller h3 {
	    font-size: 32px;
	    line-height: 39px;
	}
	.featured-roller h5 > span {
	    border: none;
	    font-size: 12px;
	    line-height: 19px;
	}
	.tweet-panel{
		padding: 60px 0;
	}
	
    
     #ytplayer{
        width: 680px;
        height: 380px;
    }
    
    .modal-content{
        width: 720px;
    }
    
	
}

/*Medium Smart Phones v2*/
@media screen and (max-width: 640px) {
	.container{
	    max-width: 540px;
	    padding-left:50px;
	    padding-right:50px;
	}
	
	.add-top-half{
		padding-top: 35px;
	}
	.add-bottom-half{
		padding-bottom: 35px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.page-section, .separator-section{
		padding: 40px 0;
	}
	.inner-section{
		padding: 10px 0;
	}
	.liner-small-left, .liner-small-right{
		text-align: center;
	}
	.static-side-navigation-wrap{
		z-index: 90;
		background: transparent !important;
		box-shadow: none !important;
	}
	.navigation, .vertical-logo{
		display: none;
	}
	.slide, .mast-wrap{
		padding-right: 0 !important;
	}
	.promo-text{
		font-size: 16px;
		line-height: 23px;
		text-align: center;
	}
	.promotional-area-inner{
		max-width: 300px;
	}
	.showcase-area-inner{
		max-width: 300px;
	}
	.promotional-area h1 > span{
		font-size:18px;
		line-height: 25px;
	}
	.promotional-area h3{
		font-size:24px;
		line-height: 31px;
	}
	.emblem-area {
	    border-radius: 200px;
	    height: 200px;
	    padding: 25px;
	    width: 200px;
	}
	.emblem-area h3{
		font-size: 18px;
		line-height: 25px;
	}
	.emblem-in-showcase .emblem-area {
	    border-radius: 200px;
	    height: 200px;
		padding: 60px 30px;
	    width: 200px;
	}
	.emblem-in-showcase .emblem-area h3{
		font-size: 14px;
		line-height: 21px;
	}
	.shoutout-area{
		padding: 10px;
		text-align: center;
		padding-left: 40px;
		padding-right: 40px;
	}
	.shoutout-area > h1{
		font-size: 18px;
		line-height: 25px;
	}
	.shoutout-area > h6{
		text-align: center;
	}
	.shoutout-area > h6 > span{
		font-size: 18px;
		line-height: 25px;
	}
	.showcase-area-inner h1 {
	    font-size: 20px;
	    letter-spacing: 0px;
	    line-height: 27px;
	}
	.showcase-area-inner h5 > span{
		font-size: 56px;
		line-height: 63px;
	}
	.promo-text-main {
	    font-size: 14px;
	    line-height: 21px;
	    margin: 20px auto 0;
	    width: 380px;
	}
	.main-heading{
		font-size: 28px;
		line-height: 35px;
	}
	.about-inner-content a > h1, .about-inner-content > h1, .services-inner-content a > h1{
		font-size: 24px;
		line-height: 31px;
	}
	.about-inner-bg{
		background: #fff !important;
	}
	.testimonial-block h3{
		font-size: 14px;
		line-height: 21px;
	}
	.testimonial-block h5{
		font-size: 14px;
		line-height: 21px;
	}
	.promo-text {
	    font-size: 14px;
	    line-height: 21px;
	    padding: 0 10px;
	}
	.inner-section.add-top-half{
		margin-top: 10px;
	}
	.news-inner-content > h4 > .news-date{
		font-size: 24px;
		line-height: 31px;
	}
	.view{
		width: 100%;
	}
	.contact-block a.email-us{
		font-size: 18px;
		line-height: 25px;
	}
	.btn-presence{
		width: 100%;
		display: block;
		text-align: center;
	}
	.social-wrap{
		padding-bottom: 0;
	}
	.credit-wrap{
		padding-top: 0;
	}
	.call-to-action h1 > span{
		font-size: 30px;
		line-height: 37px;
	}
	.stats-carousel-item .btn-presence {
	    padding: 5px;
	    border:none;
	    background: transparent;
	}
	.project-area-inner{
		padding: 15px;
	}
	.project-area-inner h5 > span {
	    font-size: 48px;
	    line-height: 55px;
	}
	.project-area-inner h1{
		font-size: 24px;
		line-height: 31px;
	}
	.project-area-inner h6 > span{
	    border:none !important;
		background: transparent !important;
	}
	.project-inner-content{
		padding: 10px;
	}
	#text_content{
		padding: 20px 15px;
	}
	.overlay nav{
		font-size: 14px;
		line-height: 25px;
		margin-top: 30px;
	}
	.overlay ul li a > span{
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0px;
	}
	.overlay ul li{
		min-height: 18px;
	}
	.no-pad-mob{
		padding: 0 !important;
	}
	.call-to-action h1{
		font-size: 14px;
		line-height: 21px;
	}
	.stats-carousel-item .pad-top{
		padding-top: 20px;
	}
	.stats-carousel-item .stats-block{
		padding:0px;
	}
	.stats-block > img {
	    border-radius: 80px;
	    height: 80px;
	    margin-bottom: 0px;
	    width: 80px;
	}
	.stats-count{
		font-size: 16px;
		line-height: 23px;
	    margin-bottom: 0px;
	}
	.stats-des > span{
		padding: 3px;
		font-size: 10px;
		line-height: 17px;
	}
	.intro-with-sidenav .owl-nav-sticky-wide .owl-next{
		right: 20px;
	}
	.featured-roller h3 {
	    font-size: 24px;
	    line-height: 31px;
	}
	.featured-roller h5 > span {
	    border: none;
	    font-size: 12px;
	    line-height: 19px;
	}
	.tweet-panel{
		padding: 60px 0;
	}
	.credential-text{
		padding-right: 0;
		display: block;
		margin-top: 5px;
	}
	.credentials li a > img{
		display: inline-block;
	}
	
    #ytplayer{
        width: 570px;
        height: 300px;
    }
    
     
    .modal-content{
        width: 610px;
    }
    
    
    #video{
        display: none;
    }
    
   
    
} 

/*Google Nexus and Other Large Smart Phones v1*/
@media screen and (max-width: 600px) {
	.container{
	    max-width: 500px;
	    padding-left:50px;
	    padding-right:50px;
	}
	.add-top-half{
		padding-top: 35px;
	}
	.add-bottom-half{
		padding-bottom: 35px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.page-section, .separator-section{
		padding: 40px 0;
	}
	.inner-section{
		padding: 10px 0;
	}
	.liner-small-left, .liner-small-right{
		text-align: center;
	}
	.static-side-navigation-wrap{
		z-index: 90;
		background: transparent !important;
		box-shadow: none !important;
	}
	.navigation, .vertical-logo{
		display: none;
	}
	.slide, .mast-wrap{
		padding-right: 0 !important;
	}
	.promo-text{
		font-size: 16px;
		line-height: 23px;
		text-align: center;
	}
	.promotional-area-inner{
		max-width: 300px;
	}
	.showcase-area-inner{
		max-width: 300px;
	}
	.promotional-area h1 > span{
		font-size:18px;
		line-height: 25px;
	}
	.promotional-area h3{
		font-size:24px;
		line-height: 31px;
	}
	.emblem-area {
	    border-radius: 200px;
	    height: 200px;
	    padding: 25px;
	    width: 200px;
	}
	.emblem-area h3{
		font-size: 18px;
		line-height: 25px;
	}
	.emblem-in-showcase .emblem-area {
	    border-radius: 200px;
	    height: 200px;
		padding: 60px 30px;
	    width: 200px;
	}
	.emblem-in-showcase .emblem-area h3{
		font-size: 14px;
		line-height: 21px;
	}
	.shoutout-area{
		padding: 10px;
		text-align: center;
		padding-left: 40px;
		padding-right: 40px;
	}
	.shoutout-area > h1{
		font-size: 18px;
		line-height: 25px;
	}
	.shoutout-area > h6{
		text-align: center;
	}
	.shoutout-area > h6 > span{
		font-size: 18px;
		line-height: 25px;
	}
	.showcase-area-inner h1 {
	    font-size: 20px;
	    letter-spacing: 0px;
	    line-height: 27px;
	}
	.showcase-area-inner h5 > span{
		font-size: 56px;
		line-height: 63px;
	}
	.promo-text-main {
	    font-size: 14px;
	    line-height: 21px;
	    margin: 20px auto 0;
	    width: 380px;
	}
	.main-heading{
		font-size: 28px;
		line-height: 35px;
	}
	.about-inner-content a > h1, .about-inner-content > h1, .services-inner-content a > h1{
		font-size: 24px;
		line-height: 31px;
	}
	.about-inner-bg{
		background: #fff !important;
	}
	.testimonial-block h3{
		font-size: 14px;
		line-height: 21px;
	}
	.testimonial-block h5{
		font-size: 14px;
		line-height: 21px;
	}
	.promo-text {
	    font-size: 14px;
	    line-height: 21px;
	    padding: 0 10px;
	}
	.inner-section.add-top-half{
		margin-top: 10px;
	}
	.news-inner-content > h4 > .news-date{
		font-size: 24px;
		line-height: 31px;
	}
	.view{
		width: 100%;
	}
	.contact-block a.email-us{
		font-size: 18px;
		line-height: 25px;
	}
	.btn-presence{
		width: 100%;
		display: block;
		text-align: center;
	}
	.social-wrap{
		padding-bottom: 0;
	}
	.credit-wrap{
		padding-top: 0;
	}
	.call-to-action h1 > span{
		font-size: 30px;
		line-height: 37px;
	}
	.stats-carousel-item .btn-presence {
	    padding: 5px;
	    border:none;
	    background: transparent;
	}
	.project-area-inner{
		padding: 15px;
	}
	.project-area-inner h5 > span {
	    font-size: 48px;
	    line-height: 55px;
	}
	.project-area-inner h1{
		font-size: 24px;
		line-height: 31px;
	}
	.project-area-inner h6 > span{
	    border:none !important;
		background: transparent !important;
	}
	.project-inner-content{
		padding: 10px;
	}
	#text_content{
		padding: 20px 15px;
	}
	.overlay nav{
		font-size: 14px;
		line-height: 25px;
		margin-top: 30px;
	}
	.overlay ul li a > span{
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0px;
	}
	.overlay ul li{
		min-height: 18px;
	}
	.no-pad-mob{
		padding: 0 !important;
	}
	.call-to-action h1{
		font-size: 14px;
		line-height: 21px;
	}
	.stats-carousel-item .pad-top{
		padding-top: 20px;
	}
	.stats-carousel-item .stats-block{
		padding:0px;
	}
	.stats-block > img {
	    border-radius: 80px;
	    height: 80px;
	    margin-bottom: 0px;
	    width: 80px;
	}
	.stats-count{
		font-size: 16px;
		line-height: 23px;
	    margin-bottom: 0px;
	}
	.stats-des > span{
		padding: 3px;
		font-size: 10px;
		line-height: 17px;
	}
	.intro-with-sidenav .owl-nav-sticky-wide .owl-next{
		right: 20px;
	}
	.featured-roller h3 {
	    font-size: 24px;
	    line-height: 31px;
	}
	.featured-roller h5 > span {
	    border: none;
	    font-size: 12px;
	    line-height: 19px;
	}
	.tweet-panel{
		padding: 60px 0;
	}
	.credential-text{
		padding-right: 0;
		display: block;
		margin-top: 5px;
	}
	.credentials li a > img{
		display: inline-block;
	}
	
} 

/*iPhone Landscape Mode and Mediium Smart Phones*/
@media screen and (max-width: 480px) {
	.container{
	    max-width: 420px;
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.add-top-half{
		padding-top: 35px;
	}
	.add-bottom-half{
		padding-bottom: 35px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.page-section, .separator-section{
		padding: 40px 0;
	}
	.inner-section{
		padding: 10px 0;
	}
	.liner-small-left, .liner-small-right{
		text-align: center;
	}
	.static-side-navigation-wrap{
		z-index: 90;
		background: transparent !important;
		box-shadow: none !important;
	}
	.navigation, .vertical-logo{
		display: none;
	}
	.slide, .mast-wrap{
		padding-right: 0 !important;
	}
	.promo-text{
		font-size: 16px;
		line-height: 23px;
		text-align: center;
	}
	.promotional-area-inner{
		max-width: 300px;
	}
	.showcase-area-inner{
		max-width: 300px;
	}
	.promotional-area h1 > span{
		font-size:18px;
		line-height: 25px;
	}
	.promotional-area h3{
		font-size:24px;
		line-height: 31px;
	}
	.emblem-area {
	    border-radius: 200px;
	    height: 200px;
	    padding: 25px;
	    width: 200px;
	}
	.emblem-area h3{
		font-size: 18px;
		line-height: 25px;
	}
	
	.emblem-in-showcase .emblem-area {
	    border-radius: 200px;
	    height: 200px;
		padding: 60px 30px;
	    width: 200px;
	}
	.emblem-in-showcase .emblem-area h3{
		font-size: 14px;
		line-height: 21px;
	}
	.shoutout-area{
		padding: 10px;
		text-align: center;
		padding-left: 30px;
		padding-right: 30px;
	}
	.shoutout-area > h1{
		font-size: 18px;
		line-height: 25px;
	}
	.shoutout-area > h6{
		text-align: center;
	}
	.shoutout-area > h6 > span{
		font-size: 18px;
		line-height: 25px;
	}
	.showcase-area-inner h1 {
	    font-size: 20px;
	    letter-spacing: 0px;
	    line-height: 27px;
	}
	.showcase-area-inner h5 > span{
		font-size: 56px;
		line-height: 63px;
	}
	.promo-text-main {
	    font-size: 14px;
	    line-height: 21px;
	    margin: 20px auto 0;
	    width: 380px;
	}
	.main-heading{
		font-size: 28px;
		line-height: 35px;
	}
	.about-inner-content a > h1, .about-inner-content > h1, .services-inner-content a > h1{
		font-size: 24px;
		line-height: 31px;
	}
	.about-inner-bg{
		background: #fff !important;
	}
	.testimonial-block h3{
		font-size: 14px;
		line-height: 21px;
	}
	.testimonial-block h5{
		font-size: 14px;
		line-height: 21px;
	}
	.promo-text {
	    font-size: 14px;
	    line-height: 21px;
	    padding: 0 10px;
	}
	.inner-section.add-top-half{
		margin-top: 10px;
	}
	.news-inner-content > h4 > .news-date{
		font-size: 24px;
		line-height: 31px;
	}
	.view{
		width: 100%;
	}
	.contact-block a.email-us{
		font-size: 18px;
		line-height: 25px;
	}
	.btn-presence{
		width: 100%;
		display: block;
		text-align: center;
	}
	.social-wrap{
		padding-bottom: 0;
	}
	.credit-wrap{
		padding-top: 0;
	}
	.call-to-action h1 > span{
		font-size: 30px;
		line-height: 37px;
	}
	.stats-carousel-item .btn-presence {
	    padding: 5px;
	    border:none;
	    background: transparent;
	}
	.project-area-inner{
		padding: 15px;
	}
	.project-area-inner h5 > span {
	    font-size: 48px;
	    line-height: 55px;
	}
	.project-area-inner h1{
		font-size: 24px;
		line-height: 31px;
	}
	.project-area-inner h6 > span{
	    border:none !important;
		background: transparent !important;
	}
	.project-inner-content{
		padding: 10px;
	}
	#text_content{
		padding: 20px 15px;
	}
	.overlay nav{
		font-size: 14px;
		line-height: 25px;
		margin-top: 30px;
	}
	.overlay ul li a > span{
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0px;
	}
	.overlay ul li{
		min-height: 18px;
	}

	.no-pad-mob{
		padding: 0 !important;
	}
	.call-to-action h1{
		font-size: 14px;
		line-height: 21px;
	}
	.stats-carousel-item .pad-top{
		padding-top: 20px;
	}
	.stats-carousel-item .stats-block{
		padding:0px;
	}
	.stats-block > img {
	    border-radius: 80px;
	    height: 80px;
	    margin-bottom: 0px;
	    width: 80px;
	}
	.stats-count{
		font-size: 16px;
		line-height: 23px;
	    margin-bottom: 0px;
	}
	.stats-des > span{
		padding: 3px;
		font-size: 10px;
		line-height: 17px;
	}
	.intro-with-sidenav .owl-nav-sticky-wide .owl-next{
		right: 20px;
	}
	.featured-roller h3 {
	    font-size: 24px;
	    line-height: 31px;
	}
	.featured-roller h5 > span {
	    border: none;
	    font-size: 12px;
	    line-height: 19px;
	}
	.tweet-panel{
		padding: 60px 0;
	}
	.credential-text{
		padding-right: 0;
		display: block;
		margin-top: 5px;
	}
	.credentials li a > img{
		display: inline-block;
	}
}

/*Other Major Small Smart Phones*/
@media screen and (max-width: 360px) {
	.container{
	    max-width: 320px;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.add-top-half{
		padding-top: 35px;
	}
	.add-bottom-half{
		padding-bottom: 35px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.page-section, .separator-section{
		padding: 40px 0;
	}
	.inner-section{
		padding: 10px 0;
	}
	.liner-small-left, .liner-small-right{
		text-align: center;
	}
	.static-side-navigation-wrap{
		z-index: 90;
		background: transparent !important;
		box-shadow: none !important;
	}
	.navigation, .vertical-logo{
		display: none;
	}
	.slide, .mast-wrap{
		padding-right: 0 !important;
	}
	.promo-text{
		font-size: 16px;
		line-height: 23px;
		text-align: center;
	}
	.promotional-area-inner,.showcase-area-inner{
		max-width: 360px;
	}
	.promotional-area h1 > span{
		font-size:18px;
		line-height: 25px;
	}
	.promotional-area h3{
		font-size:24px;
		line-height: 31px;
	}
	.emblem-area {
	    border-radius: 200px;
	    height: 200px;
	    padding: 25px;
	    width: 200px;
	}
	.emblem-area h3{
		font-size: 18px;
		line-height: 25px;
	}

	.emblem-in-showcase .emblem-area {
	    border-radius: 200px;
	    height: 200px;
		padding: 60px 30px;
	    width: 200px;
	}
	.emblem-in-showcase .emblem-area h3{
		font-size: 14px;
		line-height: 21px;
	}
	.shoutout-area{
		padding: 10px;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
	.shoutout-area > h1{
		font-size: 18px;
		line-height: 25px;
	}
	.shoutout-area > h6{
		text-align: center;
	}
	.shoutout-area > h6 > span{
		font-size: 18px;
		line-height: 25px;
	}
	.showcase-area-inner h1 {
	    font-size: 20px;
	    letter-spacing: 0px;
	    line-height: 27px;
	}
	.showcase-area-inner h5 > span{
		font-size: 56px;
		line-height: 63px;
	}
	.promo-text-main {
	    font-size: 14px;
	    line-height: 21px;
	    margin: 20px auto 0;
	    width: 260px;
	}
	.main-heading{
		font-size: 28px;
		line-height: 35px;
	}
	.about-inner-content a > h1, .about-inner-content > h1, .services-inner-content a > h1{
		font-size: 24px;
		line-height: 31px;
	}
	.about-inner-bg{
		background: #fff !important;
	}
	.testimonial-block h3{
		font-size: 14px;
		line-height: 21px;
	}
	.testimonial-block h5{
		font-size: 14px;
		line-height: 21px;
	}
	.promo-text {
	    font-size: 14px;
	    line-height: 21px;
	    padding: 0 10px;
	}
	.inner-section.add-top-half{
		margin-top: 10px;
	}
	.news-inner-content > h4 > .news-date{
		font-size: 24px;
		line-height: 31px;
	}
	.view{
		width: 100%;
	}
	.contact-block a.email-us{
		font-size: 18px;
		line-height: 25px;
	}
	.btn-presence{
		width: 100%;
		display: block;
		text-align: center;
	}
	.social-wrap{
		padding-bottom: 0;
	}
	.credit-wrap{
		padding-top: 0;
	}
	.call-to-action h1 > span{
		font-size: 30px;
		line-height: 37px;
	}
	.stats-carousel-item .btn-presence {
	    padding: 5px;
	    border:none;
	    background: transparent;
	}
	.project-area-inner{
		padding: 15px;
	}
	.project-area-inner h5 > span {
	    font-size: 48px;
	    line-height: 55px;
	}
	.project-area-inner h1{
		font-size: 24px;
		line-height: 31px;
	}
	.project-area-inner h6 > span{
	    border:none !important;
		background: transparent !important;
	}
	.project-inner-content{
		padding: 10px;
	}
	#text_content{
		padding: 20px 15px;
	}
	.overlay nav{
		font-size: 14px;
		line-height: 25px;
		margin-top: 30px;
	}
	.overlay ul li a > span{
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0px;
	}
	.overlay ul li{
		min-height: 18px;
	}
	
	.no-pad-mob{
		padding: 0 !important;
	}
	.call-to-action h1{
		font-size: 14px;
		line-height: 21px;
	}
	.stats-carousel-item .pad-top{
		padding-top: 20px;
	}
	.stats-carousel-item .stats-block{
		padding:0px;
	}
	.stats-block > img {
	    border-radius: 80px;
	    height: 80px;
	    margin-bottom: 0px;
	    width: 80px;
	}
	.stats-count{
		font-size: 16px;
		line-height: 23px;
	    margin-bottom: 0px;
	}
	.stats-des > span{
		padding: 3px;
		font-size: 10px;
		line-height: 17px;
	}
	.intro-with-sidenav .owl-nav-sticky-wide .owl-next{
		right: 20px;
	}
	.featured-roller h3 {
	    font-size: 24px;
	    line-height: 31px;
	}
	.featured-roller h5 > span {
	    border: none;
	    font-size: 12px;
	    line-height: 19px;
	}
	.tweet-panel{
		padding: 60px 0;
	}
	.credential-text{
		padding-right: 0;
		display: block;
		margin-top: 5px;
	}
	.credentials li a > img{
		display: inline-block;
	}
}

/*iPhone Portrait Mode and Very Small Mobile Phones*/
@media screen and (max-width: 320px) {
	.container{
	    max-width: 280px;
	    padding-left: 20px;
	    padding-right: 20px;
	}
	.add-top-half{
		padding-top: 35px;
	}
	.add-bottom-half{
		padding-bottom: 35px;
	}
	.mob-center{
		text-align: center;
	}
	.mob-add-top{
		margin-top: 30px;
	}
	.mob-add-bottom{
		margin-bottom:30px;
	}
	.text-left, .text-right, p, h1, h2, h3, h4, h5{
		text-align: center;
	}
	.btn{
		width: 100%;
	}
	.page-section, .separator-section{
		padding: 40px 0;
	}
	.inner-section{
		padding: 10px 0;
	}
	.liner-small-left, .liner-small-right{
		text-align: center;
	}
	.static-side-navigation-wrap{
		z-index: 90;
		background: transparent !important;
		box-shadow: none !important;
	}
	.navigation, .vertical-logo{
		display: none;
	}
	.slide, .mast-wrap{
		padding-right: 0 !important;
	}
	.promo-text{
		font-size: 16px;
		line-height: 23px;
		text-align: center;
	}
	.promotional-area-inner,.showcase-area-inner{
		max-width: 320px;
	}
	.promotional-area h1 > span{
		font-size:18px;
		line-height: 25px;
	}
	.promotional-area h3{
		font-size:24px;
		line-height: 31px;
	}
	.emblem-area {
	    border-radius: 200px;
	    height: 200px;
	    padding: 25px;
	    width: 200px;
	}
	.emblem-area h3{
		font-size: 18px;
		line-height: 25px;
	}

	.emblem-in-showcase .emblem-area {
	    border-radius: 200px;
	    height: 200px;
		padding: 60px 30px;
	    width: 200px;
	}
	.emblem-in-showcase .emblem-area h3{
		font-size: 14px;
		line-height: 21px;
	}
	.shoutout-area{
		padding: 10px;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
	}
	.shoutout-area > h1{
		font-size: 18px;
		line-height: 25px;
	}
	.shoutout-area > h6{
		text-align: center;
	}
	.shoutout-area > h6 > span{
		font-size: 18px;
		line-height: 25px;
	}
	.showcase-area-inner h1 {
	    font-size: 20px;
	    letter-spacing: 0px;
	    line-height: 27px;
	}
	.showcase-area-inner h5 > span{
		font-size: 56px;
		line-height: 63px;
	}
	.promo-text-main {
	    font-size: 14px;
	    line-height: 21px;
	    margin: 20px auto 0;
	    width: 220px;
	}
	.main-heading{
		font-size: 28px;
		line-height: 35px;
	}
	.about-inner-content a > h1, .about-inner-content > h1, .services-inner-content a > h1{
		font-size: 24px;
		line-height: 31px;
	}
	.about-inner-bg{
		background: #fff !important;
	}
	.testimonial-block h3{
		font-size: 14px;
		line-height: 21px;
	}
	.testimonial-block h5{
		font-size: 14px;
		line-height: 21px;
	}
	.promo-text {
	    font-size: 14px;
	    line-height: 21px;
	    padding: 0 10px;
	}
	.inner-section.add-top-half{
		margin-top: 10px;
	}
	.news-inner-content > h4 > .news-date{
		font-size: 24px;
		line-height: 31px;
	}
	.view{
		width: 100%;
	}
	.contact-block a.email-us{
		font-size: 18px;
		line-height: 25px;
	}
	.btn-presence{
		width: 100%;
		display: block;
		text-align: center;
	}
	.social-wrap{
		padding-bottom: 0;
	}
	.credit-wrap{
		padding-top: 0;
	}
	.call-to-action h1 > span{
		font-size: 30px;
		line-height: 37px;
	}
	.stats-carousel-item .btn-presence {
	    padding: 5px;
	    border:none;
	    background: transparent;
	}
	.project-area-inner{
		padding: 15px;
	}
	.project-area-inner h5 > span {
	    font-size: 48px;
	    line-height: 55px;
	}
	.project-area-inner h1{
		font-size: 24px;
		line-height: 31px;
	}
	.project-area-inner h6 > span{
	    border:none !important;
		background: transparent !important;
	}
	.project-inner-content{
		padding: 10px;
	}
	#text_content{
		padding: 20px 15px;
	}
	.overlay nav{
		font-size: 14px;
		line-height: 25px;
		margin-top: 30px;
	}
	.overlay ul li a > span{
		font-size: 14px;
		line-height: 25px;
		letter-spacing: 0px;
	}
	.overlay ul li{
		min-height: 18px;
	}
	.no-pad-mob{
		padding: 0 !important;
	}
	.call-to-action h1{
		font-size: 14px;
		line-height: 21px;
	}
	.stats-carousel-item .pad-top{
		padding-top: 20px;
	}
	.stats-carousel-item .stats-block{
		padding:0px;
	}
	.stats-block > img {
	    border-radius: 50px;
	    height: 50px;
	    margin-bottom: 0px;
	    width: 50px;
	}
	.stats-count{
		font-size: 16px;
		line-height: 23px;
	    margin-bottom: 0px;
	}
	.stats-des > span{
		padding: 3px;
		font-size: 10px;
		line-height: 17px;
	}
	.intro-with-sidenav .owl-nav-sticky-wide .owl-next{
		right: 20px;
	}
	.featured-roller h3 {
	    font-size: 24px;
	    line-height: 31px;
	}
	.featured-roller h5 > span {
	    border: none;
	    font-size: 12px;
	    line-height: 19px;
	}
	.tweet-panel{
		padding: 60px 0;
	}
	.credential-text{
		padding-right: 0;
		display: block;
		margin-top: 5px;
	}
	.credentials li a > img{
		display: inline-block;
	}
	.stats-carousel-item{
		padding-top: 0;
	}
}



